# Node.js dependencies
node_modules/

# Build output
build/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# IDE configuration files
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Package manager files
.pnp.*
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

vercel.json